.collapsis-about {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    @media screen and (min-width:768px) {
        margin-top: 38px;
        margin-right: 10%;
        margin-left: 10%;
    }

    @media screen and (min-width: 1020px) {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.collapsis-location {
    display: flex;

    .Collapsis-section {
        flex-wrap: nowrap;
        gap: 10%;
    }

    .Collapsis {
        width: 50%;
    }
}

.Collapsis-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .Collapsis {
        position: relative;
        background-color: #FF6060;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        border: none;
        margin-bottom: 20px;

        h3 {
            color: #fff;
            font-size: 13px;
            padding-left: 10px;

            @media screen and (min-width:768px) {
                padding-left: 15px;
                font-size: 24px;
            }
        }

        .arrow {
            position: absolute;
            width: 25px;
            right: 10px;
            top: 10px;
            cursor: pointer;
            transition: transform 0.4s ease;

            @media screen and (min-width:768px) {
                width: 32px;
                top: 20px;
                right: 20px;
            }
        }
    }

    .collapsed {
        transform: rotate(-180deg);
    }

    .Collapsis-header {
        cursor: pointer;
    }

    .Collapsis-content {
        z-index: 2;
        width: 100%;
        background-color: #f6f6f6;
        position: relative;
        overflow: hidden;
        transition: max-height 0.3s ease;
        max-height: 0;

        &.slide-up {
            animation: slide-up 0.5s ease-in-out both;
        }

        &.slide-down {
            animation: slide-down 0.5s ease-in-out both;
            max-height: 200px;
        }
    }


    @keyframes slide-up {
        0% {
            transform: translateY(0);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-down {
        0% {
            transform: translateY(0);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    p {
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;

        @media screen and (min-width:768px) {
            font-size: 16px;
            padding-left: 15px;
        }

        &.slide-up-text {
            animation: slide-up-text 0.5s ease-in-out both;
        }

        &.slide-down-text {
            animation: slide-down-text 0.5s ease-in-out both;

            @keyframes slide-down-text {
                0% {
                    transform: translateY(-40px);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            @keyframes slide-up-text {
                0% {
                    transform: translateY(0);
                    opacity: 1;
                }

                100% {
                    transform: translateY(-40px);
                    opacity: 0;
                }
            }
        }
    }
}