.Thumb {
    width: 335px;
    height: 255px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
h2 {
    position: absolute;
    color: #fff;
font-size: 18px;
top:185px;
left: 20px;
}
}